In [2]:
import this

In [5]:
a = 24 * 7

In [7]:
for char in '안녕하세요':
    print(char)

안
녕
하
세
요

In [10]:
60 * 60 * 24 * 365

31536000

In [18]:
var1 = 100
var2 = var1
var3 = var1
var4 = var1

print(var1)
print(var2)
print(var3)
print(var4)

print(id(var1))
print(id(var2))
print(id(var3))
print(id(var4))

100
100
100
100
4520349440
4520349440
4520349440
4520349440

In [20]:
var1 = 101
print(id(var1))
print(id(var2))

4520349472
4520349440

In [21]:
type(var1)

int

In [22]:
type('안녕하세요')

str

In [23]:
type(id)

builtin_function_or_method

In [24]:
type(id(var1))

int

In [25]:
print(id(var1))

4520349472

In [27]:
var = input()

어렵네요

In [30]:
print(var)

어렵네요

In [34]:
seconds_per_day = 60 * 60 * 24
seconds_per_year = 365 * seconds_per_day

print(seconds_per_day)
print(seconds_per_year)

print(type(seconds_per_day))
print(type(seconds_per_year))

86400
31536000
<class 'int'>
<class 'int'>

In [37]:
var = input('문자열을 입력해주세요 :')

문자열을 입력해주세요 :asdf

In [39]:
print(var)

asdf

In [41]:
a = "35"

In [42]:
id(a)

4555376880

In [43]:
a = int(a)

In [44]:
id(a)

4520347360

In [45]:
c = 60
# 8과의 나누기 연산 결과를 산술연산자 결합으로 다시 c에 할당 후 출력

In [46]:
c = 60
# 8과의 정수나누기 연산 ...이후 같음

In [47]:
1234

1234

In [48]:
-100

-100

In [49]:
10 + 3

13

In [50]:
10 ** 3

1000

In [51]:
c = 60
c /= 8
print(c)

7.5

In [52]:
c = 60
c //= 8
print(c)

7

In [53]:
c = 60
c %= 8
print(c)

4

In [54]:
f = 3.5
int(f)

3

In [55]:
i = 3
float(i)

3.0

In [56]:
print(3)

3

In [57]:
print(str(3))

3

In [58]:
lux = '빛으로 강타해요!'

In [59]:
lux[0]

'빛'

In [60]:
lux[-1]

'!'

In [61]:
lux[50]

IndexError: string index out of range

In [62]:
lux[0] = '손'

TypeError: 'str' object does not support item assignment

In [63]:
lux

'빛으로 강타해요!'

In [64]:
lux[:]

'빛으로 강타해요!'

In [65]:
lux[1:]

'으로 강타해요!'

In [67]:
lux[:2]

'빛으'

In [68]:
lux[2:5]

'로 강'

In [69]:
lux[::2]

'빛로강해!'

In [70]:
lux[1::2]

'으 타요'

In [71]:
len(lux)

9

In [72]:
girlsday = '민아,유라,소진,혜리'
girlsday.split()

['민아,유라,소진,혜리']

In [73]:
girlsday.split(',')

['민아', '유라', '소진', '혜리']

In [75]:
girlsday_member_list = girlsday.split(',')
print(girlsday_member_list)
print(type(girlsday_member_list))

['민아', '유라', '소진', '혜리']
<class 'list'>

In [77]:
'@@'.join(girlsday_member_list)

'민아@@유라@@소진@@혜리'

In [80]:
result = ''
for member in girlsday_member_list:
    result += member
    result += ', '
result = result[:-2]
print(result)

민아, 유라, 소진, 혜리

In [81]:
girlsday_member_list[0]

'민아'

In [82]:
girlsday_member_list[1]

'유라'

In [83]:
s1 = '걸스데이 멤버 ' + girlsday_member_list[0]
s2 = '걸스데이 멤버 ' + girlsday_member_list[1]
s3 = '걸스데이 멤버 ' + girlsday_member_list[2]

print(s1, s2, s3)

걸스데이 멤버 민아 걸스데이 멤버 유라 걸스데이 멤버 소진

In [84]:
s = '걸스데이 멤버 %s' % (girlsday_member_list[0])
print(s)

걸스데이 멤버 민아

In [87]:
format_string = '걸스데이 멤버 (%s)'
s1 = format_string % (girlsday_member_list[0])
s2 = format_string % (girlsday_member_list[1])
print(s1)
print(s2)

걸스데이 멤버 (민아)
걸스데이 멤버 (유라)

In [88]:
for member in girlsday_member_list:
    print(format_string % member)

걸스데이 멤버 (민아)
걸스데이 멤버 (유라)
걸스데이 멤버 (소진)
걸스데이 멤버 (혜리)

In [90]:
d = 37
f = 3.14
s = 'Fastcampus'
'{} {} {}'.format(d, f, s)

'37 3.14 Fastcampus'

In [92]:
'{digit} {float} {string}'.format(
    float=f,
    digit=d,
    string=s
)

'37 3.14 Fastcampus'

In [93]:
'{:10}'.format(10)

'        10'

In [94]:
'{:<10}'.format(10)

'10        '

In [99]:
'{:^10}'.format(10)

'    10    '

In [100]:
'{:=^10}'.format(' 50 ')

'=== 50 ==='

In [101]:
10

10

In [102]:
print(10)

10

In [1]:
multi_lines = '''랭크 게임 비활성화 안내 (정상화)
소환사 여러분.



현재 비정상적 랭크 배치를 발생시키는 문제가 발견되어 랭크 게임을 비활성화 하였습니다.
랭크 게임를 제외한 다른 기능은 정상적으로 이용 가능합니다.

(1월 16일 12:48 정상화 되었습니다.)



게임 진행에 불편을 드리게 된 점 사과드리며
조속한 해결을 위해 최선을 다하겠습니다.



감사합니다.'''

In [2]:
multi_lines

'랭크 게임 비활성화 안내 (정상화)\n소환사 여러분.\n\n\n\n현재 비정상적 랭크 배치를 발생시키는 문제가 발견되어 랭크 게임을 비활성화 하였습니다.\n랭크 게임를 제외한 다른 기능은 정상적으로 이용 가능합니다.\n\n(1월 16일 12:48 정상화 되었습니다.)\n\n\n\n게임 진행에 불편을 드리게 된 점 사과드리며\n조속한 해결을 위해 최선을 다하겠습니다.\n\n\n\n감사합니다.'

In [3]:
print(multi_lines)

랭크 게임 비활성화 안내 (정상화)
소환사 여러분.



현재 비정상적 랭크 배치를 발생시키는 문제가 발견되어 랭크 게임을 비활성화 하였습니다.
랭크 게임를 제외한 다른 기능은 정상적으로 이용 가능합니다.

(1월 16일 12:48 정상화 되었습니다.)



게임 진행에 불편을 드리게 된 점 사과드리며
조속한 해결을 위해 최선을 다하겠습니다.



감사합니다.

In [4]:
str1 = 'abc'
str2 = 'def'
str1 + str2

'abcdef'

In [5]:
str1 * 10

'abcabcabcabcabcabcabcabcabcabc'