In [1]:
empty_list1 = []

In [2]:
empty_list2 = list()

In [3]:
sample_list = ['a', 'b', 'c', 'd']

In [4]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [5]:
sample_list2

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [6]:
list()

[]

In [7]:
list('문자열을')

['문', '자', '열', '을']

In [8]:
sample_list2[4]

'May'

In [9]:
sample_list2[6]

'Jul'

In [11]:
sample_list

['a', 'b', 'c', 'd']

In [12]:
sample_list[2] = 'C'

In [13]:
sample_list

['a', 'b', 'C', 'd']

In [23]:
quarters = sample_list2[::3]
quarters

['Jan', 'Apr', 'Jul', 'Oct']

In [29]:
last_three = sample_list2[-3:]
print(last_three)

last_three_reverse = sample_list2[-1:-4:-1]
print(last_three_reverse)

['Oct', 'Nov', 'Dec']
['Dec', 'Nov', 'Oct']

In [30]:
reverse_two_steps = sample_list2[::-2]
reverse_two_steps

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [32]:
fruits = ['apple', 'banana', 'melon']
colors = ['red', 'green', 'blue']

In [35]:
fruits2 = fruits.copy()
fruits2.append(colors)
fruits2
len(fruits2)

4

In [36]:
fruits2 = fruits.copy()
fruits2.extend(colors)
fruits2
len(fruits2)

6

In [37]:
fruits.insert(0, 'mango')
fruits

['mango', 'apple', 'banana', 'melon']

In [38]:
fruits.insert(100, 'pineapple')
fruits

['mango', 'apple', 'banana', 'melon', 'pineapple']

In [39]:
# 왜 리스트는 일반 변수의 할당과는 다르게 한 변수의 값이 바뀌면 다른 변수의 값도 바뀌는지
var1 = 'Lux'
var2 = var1

In [40]:
var1

'Lux'

In [41]:
var2

'Lux'

In [42]:
var1 = 'Ahri'
var2

'Lux'

In [74]:
list1 = ['apple', 'banana', 'cheery']
print(id(list1))
list2 = list1
print(id(list2))

4538536456
4538536456

In [75]:
list1.insert(100, 'Z-----')
print(list1)
print(id(list1))

['apple', 'banana', 'cheery', 'Z-----']
4538536456

In [76]:
list2

['apple', 'banana', 'cheery', 'Z-----']

In [77]:
list3 = list1.copy()
list3.append('Only list3')
print(id(list1))
print(id(list2))
print(id(list3))

print(list1)
print(list3)

4538536456
4538536456
4538536200
['apple', 'banana', 'cheery', 'Z-----']
['apple', 'banana', 'cheery', 'Z-----', 'Only list3']

In [78]:
del fruits[0]
fruits

['apple', 'banana', 'melon', 'pineapple']

In [85]:
fruits.remove('pineapple')
fruits

ValueError: list.remove(x): x not in list

In [83]:
fruits.append('b')
fruits.append('b')
print(fruits)
fruits.remove('b')
print(fruits)

['apple', 'banana', 'melon', 'b', 'b', 'b', 'b', 'b']
['apple', 'banana', 'melon', 'b', 'b', 'b', 'b']

In [87]:
last = fruits.pop()
last

'b'

In [89]:
fruits.index('apple')

0

In [90]:
'banana' in fruits

True

In [91]:
fruits.count('b')

3

In [92]:
sorted_fruits = sorted(fruits)
sorted_fruits

['apple', 'b', 'b', 'b', 'banana', 'melon']

In [93]:
print(fruits)
fruits.sort()
print(fruits)

['apple', 'banana', 'melon', 'b', 'b', 'b']
['apple', 'b', 'b', 'b', 'banana', 'melon']

In [94]:
fruits

['apple', 'b', 'b', 'b', 'banana', 'melon']

In [95]:
id(fruits)

4538539784

In [96]:
id(fruits.copy())

4538571912

In [97]:
id(list(fruits))

4538565448

In [98]:
id(fruits[:])

4538147144

In [99]:
colors = ('red')
print(type(colors))

<class 'str'>

In [100]:
colors = ('red',)

In [101]:
colors = 'red',

In [102]:
colors = 'red', 'blue'

In [103]:
print(colors)
print(type(colors))

('red', 'blue')
<class 'tuple'>

In [104]:
colors[0]

'red'

In [105]:
colors[1]

'blue'

In [106]:
colors = 'red', 'blue', 'green', 'yellow'

In [107]:
a = colors[0]
b = colors[1]
c = colors[2]
d = colors[3]

print(a, b, c, d)

red blue green yellow

In [108]:
a, b, c, d = colors
print(a, b, c, d)

red blue green yellow

In [109]:
a = 'apple'
b = 'banana'

In [112]:
temp = a
a = b
b = temp
print('a: {}'.format(a))
print('b: {}'.format(b))

a: banana
b: apple

In [113]:
c = 'cherry'
d = 'durian'

c, d = d, c
print(c)
print(d)

durian
cherry

In [114]:
sample_list

['a', 'b', 'C', 'd']

In [115]:
sample_tuple = tuple(sample_list)
sample_tuple

('a', 'b', 'C', 'd')

In [116]:
sample_tuple.append

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
sample_tuple.insert(0, 'abc')

AttributeError: 'tuple' object has no attribute 'insert'

In [118]:
s = 'Fastcampus'

In [119]:
l = list(s)
t = tuple(s)

In [120]:
print(l)
print(t)

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']
('F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [121]:
''.join(l)

'Fastcampus'

In [122]:
''.join(t)

'Fastcampus'